
<h1> Delete this creature! </h1>
    <form action="/creatures/<%=@id%>/remove" method="post">         
    <button type="submit" >Remove Creature</button></td>
    <%= token_tag form_authenticity_token %>
    </form>
</div>

 