<h2> Hi </h2>


<form action="/planes" method="post">
        <input type="text" name="plane[name]">
        <input type="text" name="plane[engine_type]">
        <textarea name="plane[description]"></textarea>
        
        <button> Lift offffffff!</button>
</form>